services:
  test-app:
    image: ghcr.io/stac-utils/stac-fastapi-pgstac:6.2.1
    environment:
      - APP_HOST=0.0.0.0
      - APP_PORT=8082
      - RELOAD=true
      - ENVIRONMENT=local
      - PGUSER=${POSTGRES_USER}
      - PGPASSWORD=${POSTGRES_PASSWORD}
      - PGDATABASE=postgis
      - PGHOST=database
      - PGPORT=5432
      - WEB_CONCURRENCY=10
      - VSI_CACHE=TRUE
      - GDAL_HTTP_MERGE_CONSECUTIVE_RANGES=YES
      - GDAL_DISABLE_READDIR_ON_OPEN=EMPTY_DIR
      - DB_MIN_CONN_SIZE=1
      - DB_MAX_CONN_SIZE=1
      - USE_API_HYDRATE=${USE_API_HYDRATE:-false}
      - ENABLE_TRANSACTIONS_EXTENSIONS=true
      - STAC_FASTAPI_VERSION=0.1
      - STAC_FASTAPI_TITLE=CLOUD-NES datasets on SURF
      - STAC_FASTAPI_DESCRIPTION=A STAC API of the datasets hosted on SURF via the CLOUD-NES project
      - STAC_FASTAPI_LANDING_ID=cloud-nes
    ports:
      - "8082:8082"
    depends_on:
      database:
        condition: service_healthy
    command: >
      bash -c "python -m stac_fastapi.pgstac.app"

  app:
    extends:
      service: test-app
    environment:
      - ENABLE_TRANSACTIONS_EXTENSIONS=false
      - ROOT_PATH=/stac/v1
    command: >
      bash -c "uvicorn stac_fastapi.pgstac.app:app --host 0.0.0.0 --port 8082 --proxy-headers --forwarded-allow-ips=* --root-path=/stac/v1"

  database:
    image: ghcr.io/stac-utils/pgstac:v0.9.9
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=postgis
      - PGUSER=${POSTGRES_USER}
      - PGPASSWORD=${POSTGRES_PASSWORD}
      - PGDATABASE=postgis
    ports:
      - "5432:5432"
    command: postgres -N 500
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER}
      interval: 2s
      timeout: 2s
      retries: 10

  ingest-test-data:
    image: ghcr.io/astral-sh/uv:0.9.28-debian-slim
    volumes:
      - ./scripts/:/scripts
      - ./testdata:/testdata
    command: >
      bash -c "
        scripts/wait-for-it.sh -t 60 test-app:8082 &&
        uv run --script /scripts/ingest-test-data.py -c /testdata/collection.json -i /testdata/items.ndjson -- http://test-app:8082
        "
    depends_on:
      database:
        condition: service_healthy
      test-app:
        condition: service_started

  ingest-data:
    image: ghcr.io/stac-utils/pgstac-pypgstac:v0.9.9
    environment:
      - PGUSER=${POSTGRES_USER}
      - PGPASSWORD=${POSTGRES_PASSWORD}
      - PGDATABASE=postgis
      - PGHOST=database
      - PGPORT=5432
    volumes:
      - ./testdata:/testdata
    command: >
      bash -c "
        pypgstac load collections /testdata/collection.json &&
        pypgstac load items /testdata/items.ndjson
      "
    depends_on:
      database:
        condition: service_healthy

  nginx:
    image: nginx:1.25-alpine
    ports:
      - 80:80
    volumes:
      - ./testconfig/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
    command: [ "nginx", "-g", "daemon off;" ]

networks:
  default:
    name: stac-fastapi-network
